.bar {
  background-color: #6d5c8e; /* color violeta */
  width: 100%;
  height: 60px;
  position: relative;
}

.winIcon {
  width: 85px;
  height: 85px;
  position: absolute;
  bottom: 0px;
  left: 10px;
}
