.home {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  width: 100vw;
}

.iconList {
  display: flex;
  gap: 25px;
  margin: 25px 25px 0px 25px;
  flex-direction: row;
  flex-wrap: wrap;

  height: fit-content;
}

.backgroundVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: fill;
}
