.home {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  width: 100vw;
}

.iconList {
  /* background-color: aqua; */

  display: flex;
  gap: 42px;
  margin: 100px 100px 0px 100px;
  flex-direction: row;
  flex-wrap: wrap;

  height: fit-content;

  /* width: 100%;
  height: 100%; */
  /* flex-direction: row; */
  /* gap: "42px"; */
  /* margin-right: "300px"; */
  /* background-color: aqua; */
}
