.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  width: 120px;
  height: 128px;
  margin: 10px;

  /* background-color: yellowgreen; */
}

.iconBox {
  /* background-color: white; */
  /* border: 6px solid #786897; */
  border-radius: 8px;
  width: 100px;
  height: 100px;
  transition: transform 0.2s;
}

/* .iconBox:hover {
  transform: scale(1.05);
} */

.title {
  width: 130px;
  text-align: center;
}
